src/wsdl/localhost_8080/PersonaWS/PersonaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.said.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.said.com/" name="PersonaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.said.com/" schemaLocation="http://localhost:8080/PersonaWS/PersonaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<portType name="PersonaWS">
<operation name="find">
<input wsam:Action="http://ejb.said.com/PersonaWS/findRequest" message="tns:find"/>
<output wsam:Action="http://ejb.said.com/PersonaWS/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ejb.said.com/PersonaWS/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ejb.said.com/PersonaWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ejb.said.com/PersonaWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
</portType>
<binding name="PersonaWSPortBinding" type="tns:PersonaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonaWS">
<port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
<soap:address location="http://localhost:8080/PersonaWS/PersonaWS"/>
</port>
</service>
</definitions>